#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#root {
  scrollbar-width: thin;
  scrollbar-color: #9CA3AF #F3F4F6;
}

#root::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

#root::-webkit-scrollbar-track {
  background: #F3F4F6;
  border-radius: 8px;
}

#root::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 8px;
  transition: background 0.3s ease;
}

#root::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}
